body{
    padding: 10px 15px; 
    width: 220px;
    height: auto;
}

.pop-container{
  background-color: #fff;
  color: #222;
  font-family: "Futura", san-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
    text-align: center;
}

.text p{
    font: 12px;
    color: #979797;
}

.select-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #f8f9ff;
    padding: 0 10px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.toggle {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.toggle-container {
    position: relative;
}

.tooltipToggle {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border-width: 0;
}

.toggle-background {
    display: block;
    height: 22px;
    width: 45px;
    border-radius: 9999px;
    background-color: #bed4ff;
}

.toggle-button {
    position: absolute;
    left: 4px;
    top: 4px;
    display: flex;
    height: 14px;
    width: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: white;
    transition: transform 0.3s ease;
}

.tooltipToggle:checked + .toggle-background {
    background-color: #3B82F6;
}

.tooltipToggle:checked ~ .toggle-button {
    transform: translateX(24px);
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-icon-active {
    display: none;
}

.tooltipToggle:checked ~ .toggle-button .toggle-icon-active {
    display: flex;
}

.toggle-icon-inactive {
    color: #6B7280;
}

.tooltipToggle:checked ~ .toggle-button .toggle-icon-inactive {
    display: none;
}

.fa-check, .fa-xmark {
    font-size: 10px;
}

